<html>

    <head><meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <title>Pagina Principala | Elena Cuza</title>
        <link rel="stylesheet" href="main.teacher.css">
        <!-- JavaScript Bundle with Popper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        
        
    </head>

    <body> 
     
       
        <div class="nav">
        <ul>
    
            <li><a href="resurse">Resurse</a></li>
            <li><a  href="main-teacher">Catalog</a></li>
            <li><a href="statistici">Statistici</a></li>
            <li><a href="mesagerie">Mesagerie</a></li>
            
            
        </ul>
        </div>
      
       <br>
       <div class="wrapper">
     
        
        <div class="grid-container">
            <% for(var i=0;i<result.length;i++) { %>
            <div class="grid-item" onclick="location.href='/view?class=<%=result[i].nume %>'">
                <h3><%=result[i].nume %></h3><p><%=result[i].diriginte %></p></div>
            <% } %>
          </div> 
          </div>
  
    </body>
</html>