body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  background: #004999;
  width: 100%;
}

.nav li {
  display: inline-block;
}
button {
  width: 100%;
}
.nav a {
  text-decoration: none;
  width: 100px;
  display: block;
  color: white;
  padding: 15px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover {
  background: #000;
  transition: 0.4s;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100% !important;
  text-align: left;
  width: 100% !important;
  border-collapse: collapse;
  font-size: 17px;
}
td {
  word-wrap: break-word;
}

td {
  border-top: 1px solid black;
}
.separator {
  height: 15px;
}

td {
  vertical-align: middle;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;

  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px !important;
}
.modal-content p {
  text-align: center;
  font-size: 19px;
}

/* The Close Button */
.close {
  color: #aaa;
  margin-left: 90%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
input[type="text"] {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #198754;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  color: #ffffff;
}
#submitStergere{
  background-color: red;
}

@media only screen and (max-width: 601px) {
  .modal-content {
    width: 75% !important;
  }
}

.alert {
  padding: 20px;
  background-color: #04aa6d;
  color: white;
  border-radius: 0px !important;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.wrapperSelect {
  display: inline-flex;
  background: #004999;
  height: 50px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.wrapperSelect .option {
  background: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapperSelect .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapperSelect .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapperSelect .option span {
  font-size: 17px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

td a {
  text-decoration: none;
  font-weight: bold;

  color: red !important;
  background-color: transparent;
}
