body{
    margin: 0;
    padding: 0;

}

.nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    background: #004999;
    width: 100%;

}

.nav li{
    display: inline-block;
}

.nav a{
    text-decoration: none;
    width: 100px;
    display: block;
    color: white;
    padding: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover{
    background: #000;
    transition: 0.4s;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
}
table {
    border-collapse: collapse;
    font-size: 17px;
}
  
td {
    border-top: 1px solid black;
    
  }
.separator {
    height:15px;
}

td{
    vertical-align: middle; 
}


